@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

body {
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #ffffff; }
  body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a,
img, strong, center, ul, li, label,
footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Typography */
html {
  font-size: 13pt; }
  @media screen and (max-width: 1680px) {
    html {
      font-size: 11pt; } }
  @media screen and (max-width: 980px) {
    html {
      font-size: 12pt; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 11pt; } }

body {
  background-color: #ffffff;
  color: #444444; }

body, input, select, textarea {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65; }

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2rem 0; }

header.special {
  text-align: center;
  margin-bottom: 4rem; }
  header.special p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 3rem;
  line-height: 1.2; }

h2 {
  font-size: 2.25rem;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3; }

  h2 {
    font-size: 1.75rem;
    line-height: 1.5; }

  h3 {
    font-size: 1.25rem; } }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0 2rem 0; }
  pre code {
    display: block;
    line-height: 1.75;
    padding: 1rem 1.5rem;
    overflow-x: auto; }

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2rem 0; }
  hr.major {
    margin: 4rem 0; }

input, select, textarea {
  color: #555555; }

a {
  color: #ce1b28; }

strong, b {
  color: #555555; }

h1, h2, h3, h4, h5, h6 {
  color: #555555; }

hr {
  border-bottom-color: rgba(0, 0, 0, 0.25); }

/* Inner */
.inner {
  margin: 0 auto;
  width: 75rem;
  max-width: calc(100% - 6rem); }
  @media screen and (max-width: 480px) {
    .inner {
      max-width: calc(100% - 3rem); } }

/* Button */
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  
input[type="button"],
button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #555555;
  color: #555555 !important; }


/* List */
  ul.plain {
    list-style: none;
    padding-left: 0; }
    ul.plain li {
      margin-bottom: 1rem; }
      ul.plain li .icon {
        border-radius: 4px;
        color: #ffffff;
        display: inline-block;
        margin-right: 1rem;
        text-align: center;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        background: rgba(0, 0, 0, 0.5); }

/* Highlights */
.highlights {
  width: 100%;
  margin: 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .highlights > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .highlights > * {
    width: 33.3333333333%; }
  .highlights > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(3n) {
    padding-right: 0; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); }
  .highlights .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    text-align: center; }
    .highlights .content .icon {
      font-size: 5rem; }
  .highlights > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .highlights > * {
      width: 50%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(2n) {
      padding-right: 0; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .highlights .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .highlights > * {
      width: 100%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(2n) {
      padding-right: 1rem; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > :nth-child(-n + 1) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .highlights > :nth-child(1n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(1n) {
      padding-right: 0; }
    .highlights > :nth-child(1n + 1),
    .highlights > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.highlights .content {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }


/* Grid */
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; }
  .row > * {
    box-sizing: border-box; }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0; }

.row > .imp {
  order: -1; }
.row > .col-1 {
  width: 8.3333333333%; }
.row > .off-1 {
  margin-left: 8.3333333333%; }
.row > .col-2 {
  width: 16.6666666667%; }
.row > .off-2 {
  margin-left: 16.6666666667%; }
.row > .col-3 {
  width: 25%; }
.row > .off-3 {
  margin-left: 25%; }
.row > .col-4 {
  width: 33.3333333333%; }
.row > .off-4 {
  margin-left: 33.3333333333%; }
.row > .col-5 {
  width: 41.6666666667%; }
.row > .off-5 {
  margin-left: 41.6666666667%; }
.row > .col-6 {
  width: 50%; }
.row > .off-6 {
  margin-left: 50%; }
.row > .col-7 {
  width: 58.3333333333%; }
.row > .off-7 {
  margin-left: 58.3333333333%; }
.row > .col-8 {
  width: 66.6666666667%; }
.row > .off-8 {
  margin-left: 66.6666666667%; }
.row > .col-9 {
  width: 75%; }
.row > .off-9 {
  margin-left: 75%; }
.row > .col-10 {
  width: 83.3333333333%; }
.row > .off-10 {
  margin-left: 83.3333333333%; }
.row > .col-11 {
  width: 91.6666666667%; }
.row > .off-11 {
  margin-left: 91.6666666667%; }
.row > .col-12 {
  width: 100%; }
.row > .off-12 {
  margin-left: 100%; }
.row.gtr-0 {
  margin-top: 0;
  margin-left: 0rem; }
  .row.gtr-0 > * {
    padding: 0 0 0 0rem; }
  .row.gtr-0.gtr-uniform {
    margin-top: 0rem; }
    .row.gtr-0.gtr-uniform > * {
      padding-top: 0rem; }
.row.gtr-25 {
  margin-top: 0;
  margin-left: -0.75rem; }
  .row.gtr-25 > * {
    padding: 0 0 0 0.75rem; }
  .row.gtr-25.gtr-uniform {
    margin-top: -0.75rem; }
    .row.gtr-25.gtr-uniform > * {
      padding-top: 0.75rem; }
.row.gtr-50 {
  margin-top: 0;
  margin-left: -1.5rem; }
  .row.gtr-50 > * {
    padding: 0 0 0 1.5rem; }
  .row.gtr-50.gtr-uniform {
    margin-top: -1.5rem; }
    .row.gtr-50.gtr-uniform > * {
      padding-top: 1.5rem; }
.row {
  margin-top: 0;
  margin-left: -3rem; }
  .row > * {
    padding: 0 0 0 3rem; }
  .row.gtr-uniform {
    margin-top: -3rem; }
    .row.gtr-uniform > * {
      padding-top: 3rem; }
.row.gtr-150 {
  margin-top: 0;
  margin-left: -4.5rem; }
  .row.gtr-150 > * {
    padding: 0 0 0 4.5rem; }
  .row.gtr-150.gtr-uniform {
    margin-top: -4.5rem; }
    .row.gtr-150.gtr-uniform > * {
      padding-top: 4.5rem; }
.row.gtr-200 {
  margin-top: 0;
  margin-left: -6rem; }
  .row.gtr-200 > * {
    padding: 0 0 0 6rem; }
  .row.gtr-200.gtr-uniform {
    margin-top: -6rem; }
    .row.gtr-200.gtr-uniform > * {
      padding-top: 6rem; }

@media screen and (max-width: 1680px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .row > * {
      box-sizing: border-box; }
    .row.gtr-uniform > * > :last-child {
      margin-bottom: 0; }

  .row > .imp-xlarge {
    order: -1; }
  .row > .col-1-xlarge {
    width: 8.3333333333%; }
  .row > .off-1-xlarge {
    margin-left: 8.3333333333%; }
  .row > .col-2-xlarge {
    width: 16.6666666667%; }
  .row > .off-2-xlarge {
    margin-left: 16.6666666667%; }
  .row > .col-3-xlarge {
    width: 25%; }
  .row > .off-3-xlarge {
    margin-left: 25%; }
  .row > .col-4-xlarge {
    width: 33.3333333333%; }
  .row > .off-4-xlarge {
    margin-left: 33.3333333333%; }
  .row > .col-5-xlarge {
    width: 41.6666666667%; }
  .row > .off-5-xlarge {
    margin-left: 41.6666666667%; }
  .row > .col-6-xlarge {
    width: 50%; }
  .row > .off-6-xlarge {
    margin-left: 50%; }
  .row > .col-7-xlarge {
    width: 58.3333333333%; }
  .row > .off-7-xlarge {
    margin-left: 58.3333333333%; }
  .row > .col-8-xlarge {
    width: 66.6666666667%; }
  .row > .off-8-xlarge {
    margin-left: 66.6666666667%; }
  .row > .col-9-xlarge {
    width: 75%; }
  .row > .off-9-xlarge {
    margin-left: 75%; }
  .row > .col-10-xlarge {
    width: 83.3333333333%; }
  .row > .off-10-xlarge {
    margin-left: 83.3333333333%; }
  .row > .col-11-xlarge {
    width: 91.6666666667%; }
  .row > .off-11-xlarge {
    margin-left: 91.6666666667%; }
  .row > .col-12-xlarge {
    width: 100%; }
  .row > .off-12-xlarge {
    margin-left: 100%; }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0rem; }
    .row.gtr-0 > * {
      padding: 0 0 0 0rem; }
    .row.gtr-0.gtr-uniform {
      margin-top: 0rem; }
      .row.gtr-0.gtr-uniform > * {
        padding-top: 0rem; }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.75rem; }
    .row.gtr-25 > * {
      padding: 0 0 0 0.75rem; }
    .row.gtr-25.gtr-uniform {
      margin-top: -0.75rem; }
      .row.gtr-25.gtr-uniform > * {
        padding-top: 0.75rem; }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1.5rem; }
    .row.gtr-50 > * {
      padding: 0 0 0 1.5rem; }
    .row.gtr-50.gtr-uniform {
      margin-top: -1.5rem; }
      .row.gtr-50.gtr-uniform > * {
        padding-top: 1.5rem; }
  .row {
    margin-top: 0;
    margin-left: -3rem; }
    .row > * {
      padding: 0 0 0 3rem; }
    .row.gtr-uniform {
      margin-top: -3rem; }
      .row.gtr-uniform > * {
        padding-top: 3rem; }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -4.5rem; }
    .row.gtr-150 > * {
      padding: 0 0 0 4.5rem; }
    .row.gtr-150.gtr-uniform {
      margin-top: -4.5rem; }
      .row.gtr-150.gtr-uniform > * {
        padding-top: 4.5rem; }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -6rem; }
    .row.gtr-200 > * {
      padding: 0 0 0 6rem; }
    .row.gtr-200.gtr-uniform {
      margin-top: -6rem; }
      .row.gtr-200.gtr-uniform > * {
        padding-top: 6rem; } }
@media screen and (max-width: 1280px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .row > * {
      box-sizing: border-box; }
    .row.gtr-uniform > * > :last-child {
      margin-bottom: 0; }

  .row > .imp-large {
    order: -1; }
  .row > .col-1-large {
    width: 8.3333333333%; }
  .row > .off-1-large {
    margin-left: 8.3333333333%; }
  .row > .col-2-large {
    width: 16.6666666667%; }
  .row > .off-2-large {
    margin-left: 16.6666666667%; }
  .row > .col-3-large {
    width: 25%; }
  .row > .off-3-large {
    margin-left: 25%; }
  .row > .col-4-large {
    width: 33.3333333333%; }
  .row > .off-4-large {
    margin-left: 33.3333333333%; }
  .row > .col-5-large {
    width: 41.6666666667%; }
  .row > .off-5-large {
    margin-left: 41.6666666667%; }
  .row > .col-6-large {
    width: 50%; }
  .row > .off-6-large {
    margin-left: 50%; }
  .row > .col-7-large {
    width: 58.3333333333%; }
  .row > .off-7-large {
    margin-left: 58.3333333333%; }
  .row > .col-8-large {
    width: 66.6666666667%; }
  .row > .off-8-large {
    margin-left: 66.6666666667%; }
  .row > .col-9-large {
    width: 75%; }
  .row > .off-9-large {
    margin-left: 75%; }
  .row > .col-10-large {
    width: 83.3333333333%; }
  .row > .off-10-large {
    margin-left: 83.3333333333%; }
  .row > .col-11-large {
    width: 91.6666666667%; }
  .row > .off-11-large {
    margin-left: 91.6666666667%; }
  .row > .col-12-large {
    width: 100%; }
  .row > .off-12-large {
    margin-left: 100%; }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0rem; }
    .row.gtr-0 > * {
      padding: 0 0 0 0rem; }
    .row.gtr-0.gtr-uniform {
      margin-top: 0rem; }
      .row.gtr-0.gtr-uniform > * {
        padding-top: 0rem; }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375rem; }
    .row.gtr-25 > * {
      padding: 0 0 0 0.375rem; }
    .row.gtr-25.gtr-uniform {
      margin-top: -0.375rem; }
      .row.gtr-25.gtr-uniform > * {
        padding-top: 0.375rem; }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75rem; }
    .row.gtr-50 > * {
      padding: 0 0 0 0.75rem; }
    .row.gtr-50.gtr-uniform {
      margin-top: -0.75rem; }
      .row.gtr-50.gtr-uniform > * {
        padding-top: 0.75rem; }
  .row {
    margin-top: 0;
    margin-left: -1.5rem; }
    .row > * {
      padding: 0 0 0 1.5rem; }
    .row.gtr-uniform {
      margin-top: -1.5rem; }
      .row.gtr-uniform > * {
        padding-top: 1.5rem; }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25rem; }
    .row.gtr-150 > * {
      padding: 0 0 0 2.25rem; }
    .row.gtr-150.gtr-uniform {
      margin-top: -2.25rem; }
      .row.gtr-150.gtr-uniform > * {
        padding-top: 2.25rem; }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3rem; }
    .row.gtr-200 > * {
      padding: 0 0 0 3rem; }
    .row.gtr-200.gtr-uniform {
      margin-top: -3rem; }
      .row.gtr-200.gtr-uniform > * {
        padding-top: 3rem; } }
@media screen and (max-width: 980px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .row > * {
      box-sizing: border-box; }
    .row.gtr-uniform > * > :last-child {
      margin-bottom: 0; }

  .row > .imp-medium {
    order: -1; }
  .row > .col-1-medium {
    width: 8.3333333333%; }
  .row > .off-1-medium {
    margin-left: 8.3333333333%; }
  .row > .col-2-medium {
    width: 16.6666666667%; }
  .row > .off-2-medium {
    margin-left: 16.6666666667%; }
  .row > .col-3-medium {
    width: 25%; }
  .row > .off-3-medium {
    margin-left: 25%; }
  .row > .col-4-medium {
    width: 33.3333333333%; }
  .row > .off-4-medium {
    margin-left: 33.3333333333%; }
  .row > .col-5-medium {
    width: 41.6666666667%; }
  .row > .off-5-medium {
    margin-left: 41.6666666667%; }
  .row > .col-6-medium {
    width: 50%; }
  .row > .off-6-medium {
    margin-left: 50%; }
  .row > .col-7-medium {
    width: 58.3333333333%; }
  .row > .off-7-medium {
    margin-left: 58.3333333333%; }
  .row > .col-8-medium {
    width: 66.6666666667%; }
  .row > .off-8-medium {
    margin-left: 66.6666666667%; }
  .row > .col-9-medium {
    width: 75%; }
  .row > .off-9-medium {
    margin-left: 75%; }
  .row > .col-10-medium {
    width: 83.3333333333%; }
  .row > .off-10-medium {
    margin-left: 83.3333333333%; }
  .row > .col-11-medium {
    width: 91.6666666667%; }
  .row > .off-11-medium {
    margin-left: 91.6666666667%; }
  .row > .col-12-medium {
    width: 100%; }
  .row > .off-12-medium {
    margin-left: 100%; }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0rem; }
    .row.gtr-0 > * {
      padding: 0 0 0 0rem; }
    .row.gtr-0.gtr-uniform {
      margin-top: 0rem; }
      .row.gtr-0.gtr-uniform > * {
        padding-top: 0rem; }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375rem; }
    .row.gtr-25 > * {
      padding: 0 0 0 0.375rem; }
    .row.gtr-25.gtr-uniform {
      margin-top: -0.375rem; }
      .row.gtr-25.gtr-uniform > * {
        padding-top: 0.375rem; }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75rem; }
    .row.gtr-50 > * {
      padding: 0 0 0 0.75rem; }
    .row.gtr-50.gtr-uniform {
      margin-top: -0.75rem; }
      .row.gtr-50.gtr-uniform > * {
        padding-top: 0.75rem; }
  .row {
    margin-top: 0;
    margin-left: -1.5rem; }
    .row > * {
      padding: 0 0 0 1.5rem; }
    .row.gtr-uniform {
      margin-top: -1.5rem; }
      .row.gtr-uniform > * {
        padding-top: 1.5rem; }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25rem; }
    .row.gtr-150 > * {
      padding: 0 0 0 2.25rem; }
    .row.gtr-150.gtr-uniform {
      margin-top: -2.25rem; }
      .row.gtr-150.gtr-uniform > * {
        padding-top: 2.25rem; }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3rem; }
    .row.gtr-200 > * {
      padding: 0 0 0 3rem; }
    .row.gtr-200.gtr-uniform {
      margin-top: -3rem; }
      .row.gtr-200.gtr-uniform > * {
        padding-top: 3rem; } }
@media screen and (max-width: 736px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .row > * {
      box-sizing: border-box; }
    .row.gtr-uniform > * > :last-child {
      margin-bottom: 0; }

  .row > .imp-small {
    order: -1; }
  .row > .col-1-small {
    width: 8.3333333333%; }
  .row > .off-1-small {
    margin-left: 8.3333333333%; }
  .row > .col-2-small {
    width: 16.6666666667%; }
  .row > .off-2-small {
    margin-left: 16.6666666667%; }
  .row > .col-3-small {
    width: 25%; }
  .row > .off-3-small {
    margin-left: 25%; }
  .row > .col-4-small {
    width: 33.3333333333%; }
  .row > .off-4-small {
    margin-left: 33.3333333333%; }
  .row > .col-5-small {
    width: 41.6666666667%; }
  .row > .off-5-small {
    margin-left: 41.6666666667%; }
  .row > .col-6-small {
    width: 50%; }
  .row > .off-6-small {
    margin-left: 50%; }
  .row > .col-7-small {
    width: 58.3333333333%; }
  .row > .off-7-small {
    margin-left: 58.3333333333%; }
  .row > .col-8-small {
    width: 66.6666666667%; }
  .row > .off-8-small {
    margin-left: 66.6666666667%; }
  .row > .col-9-small {
    width: 75%; }
  .row > .off-9-small {
    margin-left: 75%; }
  .row > .col-10-small {
    width: 83.3333333333%; }
  .row > .off-10-small {
    margin-left: 83.3333333333%; }
  .row > .col-11-small {
    width: 91.6666666667%; }
  .row > .off-11-small {
    margin-left: 91.6666666667%; }
  .row > .col-12-small {
    width: 100%; }
  .row > .off-12-small {
    margin-left: 100%; }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0rem; }
    .row.gtr-0 > * {
      padding: 0 0 0 0rem; }
    .row.gtr-0.gtr-uniform {
      margin-top: 0rem; }
      .row.gtr-0.gtr-uniform > * {
        padding-top: 0rem; }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.3125rem; }
    .row.gtr-25 > * {
      padding: 0 0 0 0.3125rem; }
    .row.gtr-25.gtr-uniform {
      margin-top: -0.3125rem; }
      .row.gtr-25.gtr-uniform > * {
        padding-top: 0.3125rem; }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.625rem; }
    .row.gtr-50 > * {
      padding: 0 0 0 0.625rem; }
    .row.gtr-50.gtr-uniform {
      margin-top: -0.625rem; }
      .row.gtr-50.gtr-uniform > * {
        padding-top: 0.625rem; }
  .row {
    margin-top: 0;
    margin-left: -1.25rem; }
    .row > * {
      padding: 0 0 0 1.25rem; }
    .row.gtr-uniform {
      margin-top: -1.25rem; }
      .row.gtr-uniform > * {
        padding-top: 1.25rem; }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -1.875rem; }
    .row.gtr-150 > * {
      padding: 0 0 0 1.875rem; }
    .row.gtr-150.gtr-uniform {
      margin-top: -1.875rem; }
      .row.gtr-150.gtr-uniform > * {
        padding-top: 1.875rem; }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -2.5rem; }
    .row.gtr-200 > * {
      padding: 0 0 0 2.5rem; }
    .row.gtr-200.gtr-uniform {
      margin-top: -2.5rem; }
      .row.gtr-200.gtr-uniform > * {
        padding-top: 2.5rem; } }
@media screen and (max-width: 480px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .row > * {
      box-sizing: border-box; }
    .row.gtr-uniform > * > :last-child {
      margin-bottom: 0; }

  .row > .imp-xsmall {
    order: -1; }
  .row > .col-1-xsmall {
    width: 8.3333333333%; }
  .row > .off-1-xsmall {
    margin-left: 8.3333333333%; }
  .row > .col-2-xsmall {
    width: 16.6666666667%; }
  .row > .off-2-xsmall {
    margin-left: 16.6666666667%; }
  .row > .col-3-xsmall {
    width: 25%; }
  .row > .off-3-xsmall {
    margin-left: 25%; }
  .row > .col-4-xsmall {
    width: 33.3333333333%; }
  .row > .off-4-xsmall {
    margin-left: 33.3333333333%; }
  .row > .col-5-xsmall {
    width: 41.6666666667%; }
  .row > .off-5-xsmall {
    margin-left: 41.6666666667%; }
  .row > .col-6-xsmall {
    width: 50%; }
  .row > .off-6-xsmall {
    margin-left: 50%; }
  .row > .col-7-xsmall {
    width: 58.3333333333%; }
  .row > .off-7-xsmall {
    margin-left: 58.3333333333%; }
  .row > .col-8-xsmall {
    width: 66.6666666667%; }
  .row > .off-8-xsmall {
    margin-left: 66.6666666667%; }
  .row > .col-9-xsmall {
    width: 75%; }
  .row > .off-9-xsmall {
    margin-left: 75%; }
  .row > .col-10-xsmall {
    width: 83.3333333333%; }
  .row > .off-10-xsmall {
    margin-left: 83.3333333333%; }
  .row > .col-11-xsmall {
    width: 91.6666666667%; }
  .row > .off-11-xsmall {
    margin-left: 91.6666666667%; }
  .row > .col-12-xsmall {
    width: 100%; }
  .row > .off-12-xsmall {
    margin-left: 100%; }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0rem; }
    .row.gtr-0 > * {
      padding: 0 0 0 0rem; }
    .row.gtr-0.gtr-uniform {
      margin-top: 0rem; }
      .row.gtr-0.gtr-uniform > * {
        padding-top: 0rem; }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.3125rem; }
    .row.gtr-25 > * {
      padding: 0 0 0 0.3125rem; }
    .row.gtr-25.gtr-uniform {
      margin-top: -0.3125rem; }
      .row.gtr-25.gtr-uniform > * {
        padding-top: 0.3125rem; }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.625rem; }
    .row.gtr-50 > * {
      padding: 0 0 0 0.625rem; }
    .row.gtr-50.gtr-uniform {
      margin-top: -0.625rem; }
      .row.gtr-50.gtr-uniform > * {
        padding-top: 0.625rem; }
  .row {
    margin-top: 0;
    margin-left: -1.25rem; }
    .row > * {
      padding: 0 0 0 1.25rem; }
    .row.gtr-uniform {
      margin-top: -1.25rem; }
      .row.gtr-uniform > * {
        padding-top: 1.25rem; }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -1.875rem; }
    .row.gtr-150 > * {
      padding: 0 0 0 1.875rem; }
    .row.gtr-150.gtr-uniform {
      margin-top: -1.875rem; }
      .row.gtr-150.gtr-uniform > * {
        padding-top: 1.875rem; }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -2.5rem; }
    .row.gtr-200 > * {
      padding: 0 0 0 2.5rem; }
    .row.gtr-200.gtr-uniform {
      margin-top: -2.5rem; }
      .row.gtr-200.gtr-uniform > * {
        padding-top: 2.5rem; } }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* Icons */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0; }
  ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0; }
    ul.icons li:last-child {
      padding-right: 0; }
    ul.icons li .icon:before {
      font-size: 2rem; }

/* Image */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative; }
  .image img {
    border-radius: 4px;
    display: block; }
  .image.left, .image.right {
    max-width: 40%; }
    .image.left img, .image.right img {
      width: 100%; }
  .image.left {
    float: left;
    margin: 0 2rem 2rem 0;
    top: 0.25rem; }
  .image.right {
    float: right;
    margin: 0 0 2rem 2rem;
    top: 0.25rem; }
  .image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%; }
    .image.fit img {
      width: 100%; }
  .image.main {
    display: block;
    margin: 0 0 3rem 0;
    width: 100%; }
    .image.main img {
      width: 100%; }

/* Wrapper */
.wrapper {
  padding: 8rem 0 6rem 0 ;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1280px) {
    .wrapper {
      padding: 4rem 0 2rem 0 ; } }
  @media screen and (max-width: 736px) {
    .wrapper {
      padding: 3rem 0 1rem 0 ; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 2rem 0 0.1rem 0 ; } }

/* Banner */
#banner {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url("../../images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 35rem !important;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #ffffff; }
  #banner hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); }

  #banner label {
    color: #ffffff; }


  #banner > .inner {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: relative;
    z-index: 3; }
    #banner > .inner > :last-child {
      margin-bottom: 0; }
  #banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem; }
  #banner p {
    font-size: 1.5rem; }
  #banner a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }
    #banner a:hover {
      color: #ffffff; }
  #banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    background: #111111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
  #banner:after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }

  @media screen and (max-width: 1280px) {
    #banner video {
      display: none; } }
  @media screen and (max-width: 736px) {
    #banner {
      height: auto !important;
      min-height: 0;
      padding: 4rem 2rem 4rem 2rem; }
      #banner .inner {
        width: 100%; }
      #banner h1 {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0; }
      #banner p {
        font-size: 1.25rem; }
      #banner br {
        display: none; }
      #banner .button {
        width: 100%; } }
  @media screen and (max-width: 480px) {
    #banner p {
      font-size: 1rem; } }
  body.is-preload #banner .inner {
    -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    opacity: 0; }
  body.is-preload #banner:before {
    opacity: 1; }

/* CTA */
#cta {
  background-color: #ce1b28;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(../../images/header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; }

  #cta a {
    color: #ffffff; }

  #cta h2 {
    color: #ffffff; }

  #cta hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); }

  #cta input[type="button"],
  #cta button,
  #cta .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important; }

    #cta input[type="button"].primary, /* Download now button in CTA */
    #cta button.primary,
    #cta .button.primary {
      box-shadow: none;
      background-color: #ffffff;
      color: #ce1b28 !important; }
      #cta input[type="button"].primary:hover,
      #cta button.primary:hover,
      #cta .button.primary:hover {
        background-color: rgba(255, 255, 255, 0.875);
        box-shadow: none; }
        #cta input[type="button"].primary:hover:active,
        #cta button.primary:hover:active,
        #cta .button.primary:hover:active {
          background-color: rgba(255, 255, 255, 0.5); }

  #cta .inner {
    position: relative;
    z-index: 3; }
  @media screen and (max-width: 980px) {
    #cta {
      background-attachment: scroll; } }

/* Footer */
#footer {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  padding: 8rem 0 6rem 0 ; }
  #footer input, #footer select, #footer textarea {
    color: #ffffff; }
  #footer a {
    color: #ce1b28; }
  #footer strong, #footer b {
    color: #ffffff; }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #ffffff; }
  #footer blockquote {
    border-left-color: rgba(255, 255, 255, 0.25); }
  #footer code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
  #footer hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
 
  #footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }
    #footer a:hover {
      color: #ce1b28; }
  #footer .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex; }
    #footer .content section {
      width: 25%; }
      #footer .content section:first-child { /* Footer Columns CSS*/  
        width: 50%;
        padding-right: 4rem; }
      #footer .content section:last-child {
        padding-left: 4rem; }

  #footer .copyright {
    border-top: 1px solid;
    font-size: 0.8rem;
    opacity: 0.5;
    padding: 2rem 0;
    text-align: center; }
  @media screen and (max-width: 1280px) {
    #footer {
      padding: 4rem 0 2rem 0 ; } }
  @media screen and (max-width: 980px) {
    #footer .content {
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #footer .content section {
        width: 50%; }
        #footer .content section:first-child {
          width: 100%;
          padding-right: 0; } }
  @media screen and (max-width: 736px) {
    #footer {
      padding: 3rem 0 1rem 0 ; }
      #footer .content section {
        width: 100%; }
        #footer .content section:last-child {
          padding-left: 0; } }
  @media screen and (max-width: 480px) {
    #footer {
      padding: 2rem 0 0.1rem 0 ; } }

/* Header */
body {
  padding-top: 3.25rem; }
  body:before {
    content: ' ';
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05; }

#header {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #111111;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  height: 3.25rem;
  left: 0;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001; }
  #header > .logo {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none; }
 
@media screen and (max-width: 980px) {
  body {
    padding-top: 44px; }

  #header {
    height: 44px;
    line-height: 44px; } }
@media screen and (max-width: 480px) {
  #header {
    min-width: 320px; } }

/* Heading */
#heading {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url("../../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 15rem !important;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  #heading input, #heading select, #heading textarea {
    color: #ffffff; }
  #heading a {
    color: #ce1b28; }
  #heading strong, #heading b {
    color: #ffffff; }
  #heading h1, #heading h2, #heading h3, #heading h4, #heading h5, #heading h6 {
    color: #ffffff; }
  #heading blockquote {
    border-left-color: rgba(255, 255, 255, 0.25); }
  #heading code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
  #heading hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
  #heading input[type="submit"],
  #heading input[type="reset"],
  #heading input[type="button"],
  #heading button,
  #heading .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important; }
    #heading input[type="submit"]:hover,
    #heading input[type="reset"]:hover,
    #heading input[type="button"]:hover,
    #heading button:hover,
    #heading .button:hover {
      box-shadow: inset 0 0 0 1px #ce1b28;
      color: #ce1b28 !important; }
      #heading input[type="submit"]:hover:active,
      #heading input[type="reset"]:hover:active,
      #heading input[type="button"]:hover:active,
      #heading button:hover:active,
      #heading .button:hover:active {
        background-color: rgba(206, 27, 40, 0.25); }
    #heading input[type="submit"].primary,
    #heading input[type="reset"].primary,
    #heading input[type="button"].primary,
    #heading button.primary,
    #heading .button.primary {
      box-shadow: none;
      background-color: #ce1b28;
      color: #ffffff !important; }
      #heading input[type="submit"].primary:hover,
      #heading input[type="reset"].primary:hover,
      #heading input[type="button"].primary:hover,
      #heading button.primary:hover,
      #heading .button.primary:hover {
        background-color: #e2212f;
        box-shadow: none; }
        #heading input[type="submit"].primary:hover:active,
        #heading input[type="reset"].primary:hover:active,
        #heading input[type="button"].primary:hover:active,
        #heading button.primary:hover:active,
        #heading .button.primary:hover:active {
          background-color: #b71824; }
  #heading label {
    color: #ffffff; }
    #heading input[type="text"]:focus,
    #heading input[type="password"]:focus,
    #heading input[type="email"]:focus,
    #heading input[type="tel"]:focus,
    #heading input[type="search"]:focus,
    #heading input[type="url"]:focus,
    #heading select:focus,
    #heading textarea:focus {
      border-color: #ce1b28;
      box-shadow: 0 0 0 1px #ce1b28; }
  #heading select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E"); }
    #heading select option {
      color: rgba(255, 255, 255, 0.5);
      background-color: #111111; }
  #heading input[type="checkbox"] + label,
  #heading input[type="radio"] + label {
    color: rgba(255, 255, 255, 0.5); }
    #heading input[type="checkbox"] + label:before,
    #heading input[type="radio"] + label:before {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25); }
  #heading input[type="checkbox"]:checked + label:before,
  #heading input[type="radio"]:checked + label:before {
    background-color: #ce1b28;
    border-color: #ce1b28;
    color: #ffffff; }
  #heading input[type="checkbox"]:focus + label:before,
  #heading input[type="radio"]:focus + label:before {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }


  #heading .highlights .content {
    background: #111111;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
  #heading .testimonials .content {
    background: #111111;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
    #heading .testimonials .content .credit strong {
      color: #ce1b28; }
  #heading:before {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
  #heading h1 {
    margin-bottom: 0;
    position: relative;
    z-index: 2; }
  @media screen and (max-width: 980px) {
    #heading {
      padding: 2rem; } }